/* ==============================================
//  Base
// ============================================*/

/* Base elements */
html {
  box-sizing: border-box;
  height: 100%;
  font-size: var(--font-size-md);
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
}

body {
  min-height: 100%;
  margin: 0;
  padding: var(--space-md);
  font-family: var(--font-base);
  font-size: var(--font-size-md);
  color: var(--gray-800);
  background: var(--gray-100);
  overflow-x: hidden;
}

body.is-dark {
  color: var(--gray-100);
  background: var(--black);
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: var(--font-heading);
  line-height: var(--line-height-md);
}

p,
ul,
ol {
  margin: 0 0 var(--space-sm);
}

blockquote,
dl,
dd,
fieldset,
figure,
pre {
  margin: 0;
}

a {
  color: var(--color-primary);
  text-decoration: underline;
  transition: color var(--transition-speed) var(--transition-ease);

  &:not([class]):hover {
    color: var(--color-primary-hover);
  }

  &:focus,
  &:active {
    outline: none;
    outline-offset: unset;
  }
}

hr {
  border: none;
  border-top: 1px solid var(--gray-300);
}

/* Selection */
::selection {
  color: var(--gray-100);
  background: var(--gray-600);
  text-shadow: none;
}

/* Box sizing */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-color) transparent;
}

*::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
}
