/* ==============================================
//  Main
// ============================================*/

.c-main {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  transition: max-width var(--transition-duration-medium) var(--transition-ease-standard);
}

.c-main--mobile { 
  max-width: var(--breakpoint-xs); 
}

.c-main--tablet { 
  max-width: var(--breakpoint-md); 
}

.c-main--desktop { 
  max-width: var(--breakpoint-lg); 
}

.c-main--full { 
  max-width: 100%; 
}