/* ==============================================
//  Variables
// ============================================*/

:root {
  --scrollbar-color:              var(--gray-300);
  --scrollbar-width:              10px;
}